.footer {
	background-color: #292929;
	color: #fff;
	overflow: hidden;
	padding: 10px;
}
.navbar-bottom  {
	margin-bottom: 0;
	min-height: 0;
}
.navbar-bottom ul {
	margin: 0 auto;
}
.navbar-bottom ul li a { 
	font-size: 12px;
	color: #000;
	padding: 10px;
}
.footer .navbar-nav {
	float: none;
	display: inline-block;
}
.footer .navbar-nav li a {
	color: #fff;
}
.footer .navbar-nav li a:hover {
	background-color: transparent;
	color: #ccc;
}