.header {
	background-color: #892424;
}
.header .navbar-top .navbar-nav >li {
}
.header .navbar-top .navbar-nav >li >a >i {
	font-size: 18px;
}
.header .navbar-top .navbar-nav >li >a{
	line-height: 38px;
	color: #fff;
	font-size: 12px;
	padding:5px 10px;
}
.header .navbar-top .navbar-nav >li >a:hover,.header .navbar-top .navbar-nav >li >a.active{
	background-color: #cf2732; 
}
.navbar-toggle {
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: #892424;
}
.header .navbar-brand {
	padding: 0;
	margin-right: 50px;
}
.header .navbar-brand img {	
	float: left;
	margin-right: 20px;
}
.header .navbar-brand .logo1 {
	height: 54px;
	margin: 3px;
}
.header .navbar-brand .logo2 {
	height: 46px;
	margin: 7px;
}