.home-item {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 1px;
}
.home-item {
	height: 200px;
}
.home-item.big{
	height: 400px;
}
.home-item img {
	height: 100%;
}
.home-item .description {
	margin: 1px;
	position: absolute;
	width:100%;
  	background-color: rgba(255, 0, 0, 0.7);	
  	height: 50px;
	bottom: 0;
	left: 0;
	color: #fff;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
.home-item.big .description {
	height: 80px;
	font-size: 24px;
	padding-left: 20px;
	padding-right: 20px;
}
.home-newnews {
	display: block;
	background-color: #F0F0F0 ;
	overflow: hidden;
	padding: 0;
}
.home-newnews {

}
.home-text-item {
	padding: 10px;
	
}
.home-text-item a{
	color: #383838;
	font-size: 14px;
	font-weight: bold;
	border-bottom: dotted #686868 1px;
	width: 100%;
	display: block;
}
.home-text-item a:hover{
	text-decoration: none;
}
.group-news .group-news-item {
	position: relative;
	margin-top: 50px;
	font-size: 14px;
	height: 300px;
}
.group-news .group-news-item img {
	width: 100%;
	height: 180px;
}
.group-news .group-title {
	position: absolute;
	top:-20px;
	left: 50px;
}
.group-news .group-title a{
	display: block;
	padding: 5px 20px;
	background-color: #ccc;
	font-size: 18px;
}
.group-news .group-news-item .title{
	color: #282828;

}
.group-news .group-news-item .other a {
	color: #000;
	font-size: 12px;
}

.title-hoz {
	background-color: rgba(255,0,0,0.7);
	color: #fff;
	height: 200px;
	overflow: hidden;
}
.title-hoz span{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: block;
    width: 200px;
    text-align: center;
    margin-left: -90px;
    margin-top: 90px;
}

.no-padding {
	padding: 0;
}