@font-face {
    font-family: 'UTM Bebas';
    src: url('../fonts/UTM Bebas.ttf') format('truetype');
}
body {
	/*font-family: UTM Bebas;*/
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: Roboto;
	font-size: 14px;
}
.block-content {
	margin: 0px auto;
}
.carousel-control.left, .carousel-control.right  {
	background-image: none;
}
a:hover{
	text-decoration: none;
}
.adv-mid-home {
	width: 100%;
	margin-top:10px;
}
.adv-right {
	width: 100%;
	margin-top:10px;
}